.tarjeta{
    padding: 15px;
}

.Paginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.Paginator ::ng-deep .ngx-pagination .current {
    background: var(--darkBlue);
    border-radius: 50%;
}